.container-fluid {
    width: 100%;
    background: rgb(63, 58, 58);
    box-shadow: 1px 1px 4px 1px rgb(137, 152, 194);
}

.form-build {
    padding: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text {
    padding: 0.5em 1rem;
    outline: none;
    flex:2;
    border-radius: 5px;
}
.btn{
    flex:1;
    background: blue;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight:bolder;
    font-size: 1em;
    margin-left: 5px;
    cursor: pointer;
}


.text:focus, .btn:focus {
    outline: none;
}

@media screen and (max-width:390px) {
    .form-build {
        width: 80%;
        padding: 1.2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }
}