.box {
    width: 80%;
    margin: 4px auto;
    display: flex;
    flex-direction: column;
}
.box p {
    background: rgb(69, 202, 69);
    color: rgb(255, 255, 255);
    font-weight:normal;
    padding:0.4em 0em;
}
.box ul {
    padding: 0;
    list-style-type:none;
    margin: 0;
}
.box ul li {
    padding: 5px 0px 5px 20px;
    font-size: 1em;
    margin-bottom: 3px;
    font-weight:bold;
    text-align: left;
    color: #fff;
    background: rgb(0, 17, 173);
    position: relative;
    cursor: pointer;

}
li .icon {
    display: inline-block;
    position: absolute;
    right:5%;
}
